header{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
.hola{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.contenido{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    background-color:#333;
    color: white;
}
.xd{
    background-color: #000000;
    color: white;
    padding: 25px;
    text-align: left;
}